#root{
    margin: 0; 
   padding: 0;
}
.content-repos{
    display: flex;
    width:100%;
}
.content-repos table{
    margin: auto 50px auto 50px;
    width: 100%;
    text-align: center;
}
/* styling menu*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
    min-height: 100px;
    min-width: 400px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -20px #b6b6b6;
    width: 100% 
}
/*.header nav{
    min-height: 400px;
    min-width: 400px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -20px #b6b6b6;
    width: 70% 
}*/
.header li.search{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 1.3em;
}
.header li.search input{
    margin-bottom: 1em
}
.menu{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
ul.menu{
    display: flex;
    list-style-type: none;
    background-color: black;
    padding: 0 20px;
    height: 40px;
    border: 1px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    color: rgba(117,117,117 ,1);
    box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

ul.menu li{
        cursor: pointer;
        padding: 10px 10px;
}
ul.menu li a{
        color: white;
        text-decoration: none;
}

/* styling placeholder in lot of browsers*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: grey;
    font-size: 10px;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-style: oblique;
  }
  /* styling table */
  thead.Headers{
      font-size: 14px;
      font-style: italic;
  }
  table{
      width: auto;
  }
  /* Counter */
  div.Counter{
      display: flex;
      max-width: 200px;
  }
  label.buttons{
    font-family: Noto Serif TC;
    font-size : 13px;
    font-weight: 600;
    background-color : #e6e6ff;     
    font-style : italic;
    height : 40px;
    width : 80px;
    margin: 10px auto 10px auto;
    flex-direction: row;   
  }
  /*Table with content*/

table{
    border-collapse: collapse;
    width: 100%;
}
/*media-querries table*/
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr { 
	display: block; 
}
	
/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}
	
tr { border: 1px solid #ccc; }
	
td { 
/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding-left: 50%; 
}
	
td:before { 
/* Now like a table header */
    position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
    }
}

div.list-of-the-repos{
    margin: 50px auto 50px auto;
    padding: 0 50px 50px 50px;
}
/*spinner*/
.spinner {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*Star*/
button.div.star{
    height: 50px;
    width: 80px;
    
}
div.label.star {
    height: 50px;
    width: 80px;
}
/*material icons*/
.material-icons{
    font-size: 32px;
}
div.number{
    font-size: 16px;
    color: grey;
    font-family : Noto Serif TC;
    font-weight : 600;
    font-style : oblique;
    height : 50px;
    width : 40px;
    margin : 10px auto;
}
.rating {
    margin : 5px auto;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    background-color: #d1d1ff;
    font-family: 'Lobster', cursive;
    box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.67);
    -webkit-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.67);

}
/*repo*/
label.repo table{
    border-spacing: 0;
    border-collapse: collapse;
}
label.repo table thead{
    background-color: #e6e6e6;
}
label.repo table tbody{
    background-color: white;
    box-shadow: 14px 6px 25px -5px rgba(0,0,0,0.68);    
    -webkit-box-shadow: 14px 6px 25px -5px rgba(0,0,0,0.68);
    -moz-box-shadow: 14px 6px 25px -5px rgba(0,0,0,0.68);

}
label.repo table tbody td a{
    padding-left: 10px;
}
/*splashscreen*/
.header-splash{
    background-color: #ffe6e6;
    height: 40px;
}
nav.header-splash, span{
    margin: 15px auto 5px auto;
}
.splash-content{
    background-color: #ff9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
   
    animation: moment-on 1s linear 5s;
    animation-fill-mode: forwards;
}
div.splash-content, h2, h3, h4{
    text-align: center;
}
div.splash-content, h2{
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
} 
img {
    width: 250px
}
div.home{
/*home*/
}
@keyframes moment-on {
    from {opacity: 1;} 
    10% {opacity: 0.1;}
    to {opacity: 0;}
 }

 @keyframes moment-off {
    from {opacity: 0;} 
    to {opacity: 1;}
 }